<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>masterdetail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0CE11D91BB7D17D0054284B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0CE11EF1BB7D17D0054284B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0CE11FA1BB7D17D0054284B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
